#id{
    animation-duration: 2000px;
}
ion-content.background{
    --ion-background-color : #ffffff;
  }
#carta{
    background-color: #334555;
}
#user_str{
    --opacity: #ffffff;
}  
#letras{
  color : #ffffff  
}

#p{
  background-color: #334555;
}

#fe{
  width: 100px;
}
#map {
  height: 50vh;
  margin: 20px;
  border: 1px solid black;
}

#duoc{
  height: 30px;
  padding-left: 150px;
}