ion-content.background{
  --ion-background-color : #ffffff;
}
#carta {
background-color: #334555;

}
#user_str{
  color: #ffffff
}
 
#user_in_str{
  color: #000000;
 
}
#correo_str{
  color: #ffffff
}
 
#correo_in_str{
  color: #000000;
 
}
#welcome{
  color: #ffffff
}

#duoc{
  height: 30px;
  padding-left: 150px;
}