@import url('http://fonts.googleapis.com/css?family=Droid+Sans%27');

#duoc{
    height: 30px;
    padding-left: 150px;
  }

ion-content.background{
    --ion-background-color : #ffffff;
}

#carta {
    background-color: #334555;
}

#letras{
    color : #ffffff;  
}

#expansion{
    background-color: #F9B901;
}

#pe{
    font-family: 'Tangerine', serif;    
}