ion-content.background{
  --ion-background-color : #ffffff;
}

#carta {
  background-color: #334555;
}

#welcome{
  color: #ffffff
}

#user_str{
  color: #ffffff
}

#duoc{
  height: 30px;
  padding-left: 150px;
}